*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;    
}

.container{ 
    width: 100vw;
    height: 100vh;
}

header{
    border-top: 10px solid purple;
    border-bottom: 10px solid purple;
    text-align: center;
    padding: 100px;
}

header h1{
    color: gray;
    font-size: 42px;
    text-shadow: 3px 3px 3px black;
}

body{
    max-width: 100%;
    display: flex;
    line-height: 1.6;
}

ul{
    margin-left: 20px;
}

p{
    margin-bottom: 1em;
}

main{
    max-width: 100%;
}

.sectionMain{
    font-size: 24px;
    margin-top: 50px;
    width: 100%;
    display: flex;
}

.bloco1{
    border-right: 5px solid black;
    text-align: justify;
    padding: 38px;
    width: 100%;
}

.bloco2{
    border-right: 5px solid black;
    width: 50%;
    padding: 30px;
}

.bloco2 li, h2{
    list-style: none;
    text-align: center;
}

.bloco2 li{
    list-style-position: inside;
    list-style-image: url(../Site\ Layout/assets/livro.png);
}


.bloco3{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    padding: 50px;
}


.bloco3 li{
    width: 200px;
    background-color: purple;
    color: white;
    border: 5px rgb(167, 58, 167) solid;
    border-radius: 20px;
    list-style: none;
    margin-bottom: 75px;
}

span::after{
    content: url(../Site\ Layout/assets/sair-do-canto-superior-direito.png);
}

span{
    text-decoration: underline;
    color: blue;
}


