h1{
    color: red;
}

h1 + p{
    color: chocolate;
    font-weight: bold;
}

p, li{
    color: green;
}

li{
    list-style-type: decimal-leading-zero;
}


a:link{
    color: pink;
}

a:visited{
    color: gold;
}

a:hover{
    text-decoration: none;
}


.especial{
    color: orange;
    font-weight: bold;
}

li.especial{
    color: blue;
}

li em{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rebeccapurple;
    font-weight: bold;
}