*{
    padding: 0px;
    margin: 0px;
}


input:invalid{
    background-color: yellow;
    border: 2px solid red;
}


form h1:first-child{
    text-decoration: underline;
}


h1{
    position: relative;
    bottom: 20px;
}

.container{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: green;
}

form{
    align-items: center;
    justify-content: center;
    border: 5px solid;
    border-radius: 10px;
    border-color: rgb(97, 97, 238);
    display: flex;
    flex-direction: column;
    background-color: rgb(93, 93, 216);
    padding: 40px;
}

form label:nth-of-type(-n+3){
    position: relative;
    right: 26px;
    color: white;
}

.socialMediaFooter{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px;   
    gap: 20%;
    list-style: none;
    background-color: red;
}


