*{
    margin: 0px;
    padding: 0px;
}


.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.grids{
    display: grid;
    grid-template-columns: 200px 200px 200px;
}