*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: linear-gradient(to right, rgb(240, 167, 167), rgb(170, 170, 228));
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}


.grids{
    width: 800px;
    text-align: center;
    background-color: azure;
    border: 5px solid rgb(144, 226, 119);
    padding: 50px;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: minmax(100px, auto);
}

.grids p{
    padding: 10px;
    border: 3px solid cyan;
    background-color: aquamarine;
}

.grids p:first-child{
    color: red;
}



.blog{
    margin-top: 10px;
    border: 5px solid black;
    display: grid;
    padding: 50px;
    width: 800px;
    background-color: green;
}

.blog header{
    padding: 20px 0px 20px 0px;
    background-color: cyan;
    margin-bottom: 20px;
    text-align: justify;
    padding-bottom: 20px;
    grid-column: 1 / 3;
    grid-row: 1;
}

.blog article{
    background-color: white;
    width: 250px;
    height: auto;
    text-align: justify;
    padding: 20px;
    border: 5px solid black;
    grid-column: 1;
    grid-row: 2;
}

.blog aside{
    padding-left: 20px;
    grid-column: 2;
    grid-row: 2;
}

.blog footer{
    background-color: cyan;
    padding: 20px 0px 20px 0px;
    margin-top: 20px;
    grid-column: 1 / 3;
    grid-row: 3;
}

aside > div{
    border: 5px solid black;
    margin-bottom: 30px;
    padding: 30px;
    background-color: white;
}


