*{
    padding: 0px;
    margin: 0px;
}

header{
    max-width: 1536px;
    display: flex;
    background-color: green;
}

.sectionHeader{
    justify-content: center;
    max-width: 1536px;
    width: 100%;
}

.containerHeader{
    display: flex;  
    justify-content: space-between; 
}

.containerHeader h1{
    color: beige;
    font-size: 50px;    
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    width: 100%;
    padding: 20px;
}

.containerHeader img{
    height: 100px;
}

nav{
    padding: 9px;
}

nav ul{
    background-color: darkgreen;
    font-size: 30px;
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 200px;
    color: white;
    padding: 20px;
}


main{
    max-width: 1536px;
    display: flex;
    background-color: green;
}


.sectionMain{
    display: flex;
    justify-content: center;
}

.mainArticle{
    margin: 10px;
    background-color: rgb(53, 180, 53);

}

.mainArticle h2{
    font-size: 50px;
    padding: 20px;
    text-align: center;
    color: white;
}

.mainArticle p{
    padding: 20px;
    font-size: 20px;
    color: white;
}

.mainArticle span{
    overflow: hidden;
    padding: 20px;
    font-size: 20px;
    color: white;
}

.mainAside{
    margin: 10px;
    text-align: center;
    width: 60%;
    background-color: rgb(53, 180, 53);
}

.mainAside h2{
    font-size: 50px;
    padding: 5px;
    text-align: center;
    color: white;
}


.mainAside img{
    height: 130px;
    max-width: 100%;
}

aside{
    padding: 5px;
}


footer{
    display: flex;
    max-width: 1536px;
    background-color: green;
}   

footer .mainFooter{ 
    background-color: green;
    padding: 10px;
    margin: 10px;
    
    
}

.mainFooter span{
    padding: 5px;
    color: white;
    font-size: 23px;    
}

hr{
    max-width: 1536px;
}