*{
    padding: 0px;
    margin: 0px;
}

.master{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

.container{
    width: 50%;
    padding: 25px;
    border: 4px solid black;
    background-color: white;
}

ul{
    padding-left: 20px;
    margin-left: 0;
    list-style-position: inside;
}

