*{
    margin: 0px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to left, rgb(221, 86, 86) 50%, rgb(128, 128, 204));
    width: 100vw;
    height: 100vh;
}


.warningsign{
    box-shadow: 6px 6px 6px black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(142, 236, 105);
    padding: 15px;
    width: 100%;
}

p{
    border-radius: 10px;
}


p strong{
    color: red;
}

div img{
    margin-right: 20px;
    width: 50px;
    height: 50px;
    
}

button{
    border-style: none;
    border-radius: 20px;
    margin-top: 50px;
    width: 250px;
    height: 50px;
    font-size: 24px;
}

button:hover{
    border: 3px solid black;
    
}

button:active{
    box-shadow: inset 2px 2px 1px rgb(150, 108, 108), inset 2px 3px 5px rgb(0 0 0 / 30%), inset -2px -3px 5px rgb(255 255 255 / 50%);
    border-color: rgb(150, 108, 108);
}
